{% extends 'base.html' %}

{% block title %} Entrar {% endblock %}

{% block content %}
<div class="p-4 text-center m-auto w-75">
    <h3>Login </h3>
    <hr>
    {% if form.errors %}
        <small class="p-1 mb-3 text-center text-white bg-danger">
            Seu usuário ou senha não encontrado. Por favor tente novamente.
        </small>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Sua conta não possui acesso a esta página. Para processir,
            entre com um login que possua acesso.</p>
        {% endif %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group row">
            <label class="col-sm-4 font-weight-bold">{{ form.username.label_tag }}</label>
            <div class="col-sm-8">
                {{ form.username }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 font-weight-bold">{{ form.password.label_tag }}</label>
            <div class="col-sm-8">
                {{ form.password }}
            </div>
        </div>
        <button class="btn btn-primary" type="Login">Login <i class="fas fa-sign-in-alt"></i></button>
    </form>
    <div class="text-center mt-4">
        <a href="{% url 'accounts:password_reset' %}">Esqueci minha senha?</a>
        <br>
        <a href="{% url 'accounts:signup' %}">Criar uma nova conta</a>
    </div>
</div>
{% endblock %}

<!-- Clear footer -->
{% block footer-content %} {% endblock %} 