{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock %}


{% block content %}
{% if not post.is_draft %}
<div class="post">
    <p class="blog-post-title h2"><a href="{% url 'posts:details_post' slug=post.slug %}">{{ post.title }}</a></p>
    <div class="row">
        <div class="col-md-6">
            <p>
                Postado em&nbsp;<b>{{ post.published_date|date:"F j, Y" }}</b>&nbsp; por &nbsp;<b><a href="{% url 'posts:autor' autor=post.autor.username %}">{{ post.autor.username.capitalize }}</a></b>
            </p>
        </div>

        <div class="col-md-6 text-right">
            <b>Categorias:</b> &nbsp;
            {% for categoria in post.categoria.all %}
                {% if not forloop.first %}/ {% endif %}
                <a href="{% url 'posts:categoria' name=categoria.name %}">{{ categoria.name }}</a>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="blog-post">
        {{ post.formatted_markdown|safe }}
    </div>
    <hr>
    <div class="row justify-content-between px-3">
        <div>
            <b>Tags:</b>&nbsp;
            {% for tag_name in post.tags.names %}
                {% if not forloop.first %}, {% endif %}
                <a href="{% url 'posts:tag' tag=tag_name %}">{{ tag_name }}</a>
            {% endfor %}
        </div>

        <div>
            <a href=""><i class="fab fa-twitter px-2"></i></a>
            <a href=""><i class="fab fa-facebook-f px-2"></i></a>
            <a href=""><i class="fab fa-instagram px-2"></i></a>
            <a href=""><i class="fab fa-pinterest px-2"></i></a>
        </div>
        <!-- <div>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><i class="fab fa-facebook-f"></i></a>,
            <a href="https://twitter.com/home?status={{ parsed_content }}%20{{ request.build_absolute_uri }}"><i class="fab fa-twitter"></i></a>,
            <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}"><i class="fab fa-google-plus-g"></i></a>
        </div> -->

        <!-- Post actions for authenticated users -->
        {% if user.is_authenticated and post.autor.username == request.user.username %}
            <div>
                <b>Ações do autor:</b>&nbsp;
                <!-- Amend post for authenticated autor -->
                <a href="{% url 'posts:update_post' slug=post.slug %}">Atualizar</a>
                |
                <!-- Delete post for authenticated autor -->
                <a href="{% url 'posts:delete_post' slug=post.slug %}">Remover</a>
            </div>
        {% endif %}     
    </div>
    <hr>
    {% if post.allow_comments == True %}
        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="3" width="100%"></div>
    {% else %}
        <p><b>Comentários foram desabilitados para esta postagem.</b></p>
    {% endif %}
</div>
{% else %}
<p>Nenhuma postagem desse tipo.</p>
{% endif %}
{% endblock %}
