{% extends 'base.html' %}

{% block title %} Resultados da busca por '{{ request.GET.q }}' {% endblock %}

{% block content %}
    {% if request.GET.q %}
        <h3>Resultados da busca por '{{ request.GET.q }}':</h3>
        <hr>
        <!-- Generic post listing template -->
        {% include 'posts/post_list_generic.html' %}
        <!-- PAGINATION -->
        {% include 'posts/pagination.html' %}
    {% else %}
        <h3>Search</h3>
        <hr>
        <form method="GET" action="{% url 'posts:search' %}">
            <input type="text" class="form-control" placeholder="Buscar postagens..." name="q">
        </form>
    {% endif %}
{% endblock %}

