{% for post in posts %}
    {% if not post.is_draft %}
        <div class="post">
            <p><a href="{% url 'posts:details_post' slug=post.slug %}"><h2>{{ post.title }}</h2></a></p>
            <div class="row justify-content-between">
                <div class="col-6">
                Postado em &nbsp;<b>{{ post.published_date|date:"F j, Y" }}</b>&nbsp; por &nbsp;<b><a href="{% url 'posts:autor' autor=post.autor.username %}">{{ post.autor.username.capitalize }}</a></b>
                |
                <a href="{% url 'posts:details_post' slug=post.slug %}">Comentarios (<span class="fb-comments-count" data-href="{{ request.build_absolute_uri }}/{{ post.slug }}/"></span>)</a>
                </div>

                <div class="col-6 text-right">
                    <b>Categorias:</b> &nbsp;
                    {% for categoria in post.categoria.all %}
                        {% if not forloop.first %}/ {% endif %}
                        <a href="{% url 'posts:categoria' name=categoria.name %}">{{ categoria.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
    {% endif %}
{% empty %}
    <p>Sem postagens.</p>
{% endfor %}